 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 body{
     background-color: #f9fafc;
     color: #000;
 }
 .work,.aboutus,.contact{
     color:#69696a;
     text-decoration: none;
 }
 .descr{
     color:#69696a;
     text-align: left;
 }
 .hireus{
     color:#FFF;
     background-color: black;
     text-decoration: none;
 }
 .calltoaction{
    color:#FFF;
    background-color: black;
    text-decoration: none;
}
.link1,.link2,.link3{
    text-decoration: none;
}
.footer{
    position: fixed;
    background-color: rgba(247, 193, 162, 0.7);
}