 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 body{
     background-color: #f9fafc;
     color: #000;
 }
 .work,.aboutus,.contact{
     color:#69696a;
     text-decoration: none;
 }
 .descr{
     color:#69696a;
 }
 .hireus,.calltoaction{
     color:#FFF;
     background-color: black;
     text-decoration: none;
 }